body {
    font-family: Arial, sans-serif;
    background-color: #d1d8e0;
}
h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.faq {
    margin: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    box-shadow: rgb(254, 252, 252) 0px 8px 24px;
    border-radius: 5px; 
    margin-bottom: 40px;
}
.faq i{
    float: right;
    cursor: pointer;
    font-size: 26px;
    color: red;
}
span{
    color: #f00;
}
h2 {
    margin: 0;
    font-size: 20px;
}
p {
    margin: 10px 0;
    font-size: 16px;
}
.answer {
    display: none; 
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.active .answer {
    display: block;
}